* {
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
    margin-top: 100px;
    padding: 30px;
}

header {
    background-color: #003b5c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
}

header * {
    display: inline;
}

header li {
    margin: 10px;
}

header li a {
    color: #ffffff;
    text-decoration: none;
}

#cerrarS {
    color: #ed0602;
}

header li a:hover {
    color: #ed7102;
    text-decoration: none;
}

#instrucciones {
    width: 50%;
    margin: 15px 25% 15px 25%;
    font-size: 20px;
    text-align: justify;
    color: #1E1F26;
}

#formulario {
    width: 50%;
    margin: 0 25% 0 25%;
    color: #283655;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

button:hover,
button:focus,
.contributor-posts-link:hover,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #283655;
    color: whitesmoke;
}

#tablaB {
    width: 70%;
    margin: 10px 15% 10px 15%;
}


/*/////////////////////////////Media Queries//////////////////////////////////*/


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}