* {
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
    color: #283655;
}

.banner {
    background-color: #003b5c;
    width: 100%;
}

.banner>* {
    display: inline;
}

.banner img {
    width: 100px;
    height: auto;
    margin: 5px 0 5px 0;
}

.banner h1 {
    color: #ffffff;
    margin-left: 30%;
}

.banner a {
    margin-left: 29%;
}

.banner a img {
    width: 100px;
    height: auto;
}

.banner a img:visited {
    border: none;
}

.search-container {
    width: 70%;
    margin: 2% 15% 0 15%;
}

.search-container input[type="text"] {
    width: 70%;
    margin: 0 0 0 15%;
}

#datos {
    width: 70%;
    margin: 15px 15% 0 15%;
}

button:hover,
button:focus,
.contributor-posts-link:hover,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #4D648D;
}

#liga {
    margin: 23% 0 0 15%;
}