* {
    box-sizing: border-box;
}

.banner {
    background-color: #003b5c;
    width: 100%;
}

.banner>* {
    display: inline;
}

.banner img {
    width: 100px;
    height: auto;
    margin: 5px 0 5px 0;
}

.banner h1 {
    color: #ffffff;
    margin-left: 17%;
}

.contenedor {
    width: 55%;
    margin-left: 26%;
    margin-top: 3%;
}

#formDiv {
    margin-left: 11%;
}

label {
    font-weight: bold;
}

input[type="date"] {
    width: 100%;
}

#formDiv input[type="button"] {
    background-color: #003b5c;
    color: #ffffff;
    padding: 5px 10% 5px 10%;
    border: none;
    margin: 2% 0 0 24%;
}

#formDiv input[type="button"]:hover {
    background-color: #00b5e2;
    color: #003b5c;
}

#resultDiv {
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.thead {
    background-color: #00b5e2;
    color: #003b5c;
}

.thead tr th {
    font-size: 25px;
    text-align: center;
}

tbody tr td a {
    color: #ed7102;
    text-transform: capitalize;
}

tbody tr td a:hover {
    color: #003b5c;
    text-decoration: none;
}