* {
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
}

.banner {
    background-color: #003b5c;
    width: 100%;
}

.banner>* {
    display: inline;
}

.banner img {
    width: 100px;
    height: auto;
    margin: 5px 0 5px 0;
}

.banner h1 {
    color: #ffffff;
    margin-left: 30%;
}

#contenedorForm {
    margin-top: 3%;
}

.col-sm-10 input[type="text"],
.col-sm-10 input[type="email"],
.col-sm-10 input[type="password"] {
    width: 70%;
}

.col-sm-10 input:focus {
    background: #ffffff;
    border: 2px solid #003b5c;
}

.form-group {
    margin-left: 18%;
}

#regbtn {
    background-color: #003b5c;
    color: #ffffff;
    border: none;
    margin-left: 48%;
    padding: 7px 5%;
}

#regbtn:hover {
    background-color: #00b5e2;
    color: #003b5c;
}